@tailwind base;

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("https://rsms.me/inter/font-files/Inter-Regular.woff2?v=3.15")
      format("woff2"),
    url("https://rsms.me/inter/font-files/Inter-Regular.woff?v=3.15")
      format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("https://rsms.me/inter/font-files/Inter-Medium.woff2?v=3.15")
      format("woff2"),
    url("https://rsms.me/inter/font-files/Inter-Medium.woff?v=3.15")
      format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("https://rsms.me/inter/font-files/Inter-Bold.woff2?v=3.15")
      format("woff2"),
    url("https://rsms.me/inter/font-files/Inter-Bold.woff?v=3.15")
      format("woff");
}

body {
  @apply text-gray-900;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

a,
button.tertiary {
  @apply text-purple-800;
}

a:hover,
button.tertiary:hover {
  @apply text-purple-500;
}

a.focus-visible,
button.tertiary.focus-visible {
  outline: 2px dotted currentColor;
}

th {
  text-align: left;
}

* {
  touch-action: manipulation;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent;
}
